/* ===== GLOBAL RESET ===== */
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

/* ===== SIDEBAR ===== */
.sidebar {
  background: #0a0a2a;
  color: white;
  height: 100vh;
  width: 200px;
  /* overflow: hidden; */
  transition: width 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: #050527;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
}

.bars {
  font-size: 20px;
  cursor: pointer;
}

.routes {
  margin-top: 20px;
}

.link {
  display: flex;
  align-items: left;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  height: 45px;
  transition: background 0.2s ease;
}

.link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.icon {
  font-size: 18px;
  min-width: 20px;
  text-align: center;
  margin-right: 10px;
}

.link_text {
  white-space: nowrap;
  font-size: 15px;
  overflow: hidden;
}

/* ===== MAIN CONTENT ===== */
.main-content {
  flex: 1;
  margin-left: 150px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.main-content.with-sidebar {
  margin-left: 200px;
}

.main-content.collapsed-sidebar {
  margin-left: 60px;
}

/* ===== RESPONSIVE ===== */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 60px;
    position: fixed;
    z-index: 1000;
  }

  .main-content {
    margin-left: 60px;
  }

  .main-content.with-sidebar {
    margin-left: 150;
  }
}
